main legend {
  border-bottom: 2px grey solid;
}

.img-view img {
  width: 200px;
  height: 200px;
}

#nav-tab {
  font-size: 10px;
  & span {
    font-size: 12px;
  }
}

@media (min-width: 576px) {
  #nav-tab {
    font-size: 12px;
    & span {
      font-size: 24px;
    }
  }
}

.fa-lock {
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 3px 6px;
  background-color: white;
}

#nav-photo, #nav-album {
  & .card {
    border: none;
    background: transparent;
  }
}

.number-overlay {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
}

h5.mt-4 {
  color: darkblue;
}

label.form-label {
  font-weight: bold;
}